In [358]:
#RUN FOR CREATE DATABASE

#1) DATA COLLECTION PHASE

import pandas as pd 
from tqdm import tqdm
import numpy as np

# Library for opening url and creating
# requests
import urllib.request
 
# pretty-print python data structures
from pprint import pprint
 
# for parsing all the tables present
# on the website
from html_table_parser.parser import HTMLTableParser
 
# for converting the parsed data in a
# pandas dataframe
import pandas as pd
 
 
# Opens a website and read its
# binary contents (HTTP Response Body)
def url_get_contents(url):
 
    # Opens a website and read its
    # binary contents (HTTP Response Body)
 
    #making request to the website
    req = urllib.request.Request(url=url)
    f = urllib.request.urlopen(req)
 
    #reading contents of the website
    return f.read()
 
# defining the html contents of a URL.
xhtml = url_get_contents('http://www.koeri.boun.edu.tr/scripts/lst8.asp').decode("ISO-8859-1")
from bs4 import BeautifulSoup

#2) DATA PREPERATION PHASE
soup = BeautifulSoup(xhtml)

pre = soup.find_all('pre')[-1]
a=pre.text.strip()
dd1=a[584:].split("\r\n")
date=[]
time=[]
lat=[]
lon=[]
depth=[]
Md=[]
Ml=[]
Mw=[]
area=[]
city=[]
valid=[]
sorter=[]

for i in tqdm(range(len(dd1))):
    dd2=dd1[i].split()
    date.append(dd2[0])
    time.append(dd2[1])
    sorter.append(dd2[0].replace(".","")+dd2[1].replace(":",""))
    valid.append(dd2[0].replace(".","")+dd2[1].replace(":","")+dd2[2].replace(".","")+dd2[3].replace(".",""))
    lat.append(dd2[2])
    lon.append(dd2[3])
    depth.append(dd2[4])
    Md.append(dd2[5])
    Ml.append(dd2[6])
    Mw.append(dd2[7])
    d_area=str(''.join(dd2[8:])).replace("Ýlksel","")
    area.append(d_area.replace("("+d_area[d_area.find("(")+1:d_area.find(")")]+")",""))
    city.append(d_area[d_area.find("(")+1:d_area.find(")")])


eq=pd.DataFrame(data=np.transpose([valid,date,time,lat,lon,depth,Md,Ml,Mw,area,city,sorter]),columns=["valid","date","time","lat","lon","depth_km","Md","Ml","Mw","area","city","sorter"])
eq

100%|██████████| 500/500 [00:00<00:00, 249809.65it/s]

,valid,date,time,lat,lon,depth_km,Md,Ml,Mw,area,city,sorter
0,20230217045232376177354098,2023.02.17,04:52:32,37.6177,35.4098,5.0,-.-,2.7,-.-,DARILIK-ALADAG,ADANA,20230217045232
1,20230217044802380963373338,2023.02.17,04:48:02,38.0963,37.3338,12.8,-.-,2.1,-.-,AGCASAR-NURHAK,KAHRAMANMARAS,20230217044802
2,20230217044221380605364627,2023.02.17,04:42:21,38.0605,36.4627,2.6,-.-,3.2,-.-,CAGLAYAN-GOKSUN,KAHRAMANMARAS,20230217044221
3,20230217044010361863361283,2023.02.17,04:40:10,36.1863,36.1283,5.0,-.-,2.3,-.-,SUBASI-,HATAY,20230217044010
4,20230217043152381312366502,2023.02.17,04:31:52,38.1312,36.6502,5.0,-.-,2.7,-.-,YENIYAPAN-GOKSUN,KAHRAMANMARAS,20230217043152
...,...,...,...,...,...,...,...,...,...,...,...,...
495,20230216012942403368275538,2023.02.16,01:29:42,40.3368,27.5538,7.7,-.-,1.9,-.-,ERDEKKORFEZI,MARMARADENIZI,20230216012942
496,20230216012556380637366300,2023.02.16,01:25:56,38.0637,36.6300,5.0,-.-,4.5,4.4,GUCUKSU-GOKSUN,KAHRAMANMARAS,20230216012556
497,20230216012301384483319047,2023.02.16,01:23:01,38.4483,31.9047,5.5,-.-,2.3,-.-,TEKELER-ILGIN,KONYA,20230216012301
498,20230216011905382732381330,2023.02.16,01:19:05,38.2732,38.1330,5.0,-.-,2.9,-.-,GORGU-YESILYURT,MALATYA,20230216011905
499,20230216011739374395371678,2023.02.16,01:17:39,37.4395,37.1678,8.4,-.-,3.1,-.-,ESKINARLI-PAZARCIK,KAHRAMANMARAS,20230216011739

In [369]:
#RUN FOR UPDATE DATABASE

import pandas as pd 
from tqdm import tqdm
import numpy as np
import urllib.request
from pprint import pprint
from html_table_parser.parser import HTMLTableParser
import pandas as pd
 
#1) DATA COLLECTION PHASE
def url_get_contents(url):
 
    req = urllib.request.Request(url=url)
    f = urllib.request.urlopen(req)
 
    return f.read()
 
xhtml = url_get_contents('http://www.koeri.boun.edu.tr/scripts/lst8.asp').decode("ISO-8859-1")

from bs4 import BeautifulSoup

#2) DATA PREPERATION PHASE
soup = BeautifulSoup(xhtml)

pre = soup.find_all('pre')[-1]
a=pre.text.strip()
dd1=a[584:].split("\r\n")

for i in tqdm(range(len(dd1))):
    dd2=dd1[i].split()
    date.append(dd2[0])
    time.append(dd2[1])
    sorter.append(dd2[0].replace(".","")+dd2[1].replace(":",""))
    valid.append(dd2[0].replace(".","")+dd2[1].replace(":","")+dd2[2].replace(".","")+dd2[3].replace(".",""))
    lat.append(dd2[2])
    lon.append(dd2[3])
    depth.append(dd2[4])
    Md.append(dd2[5])
    Ml.append(dd2[6])
    Mw.append(dd2[7])
    d_area=str(''.join(dd2[8:])).replace("Ýlksel","")
    area.append(d_area.replace("("+d_area[d_area.find("(")+1:d_area.find(")")]+")",""))
    city.append(d_area[d_area.find("(")+1:d_area.find(")")])


eq=pd.DataFrame(data=np.transpose([valid,date,time,lat,lon,depth,Md,Ml,Mw,area,city,sorter]),columns=["valid","date","time","lat","lon","depth_km","Md","Ml","Mw","area","city","sorter"])
eq=eq.drop_duplicates(['valid'])
eq=eq.sort_values(by='sorter',ascending=False).reset_index(drop=True)
eq=eq.drop(["sorter"],axis=1)

if len(eq["valid"].unique().tolist())==len(eq):
    print("WORKED! (There is no duplicated data)")
    display(eq)
else:
    print("Duplicated data is found.")

100%|██████████| 500/500 [00:00<00:00, 249067.93it/s]

WORKED! (There is no duplicated data)

,valid,date,time,lat,lon,depth_km,Md,Ml,Mw,area,city
0,20230217051311381155370470,2023.02.17,05:13:11,38.1155,37.0470,5.0,-.-,2.2,-.-,CALIS-ELBISTAN,KAHRAMANMARAS
1,20230217051101379333363802,2023.02.17,05:11:01,37.9333,36.3802,5.5,-.-,2.7,-.-,YOGUNOLUK-GOKSUN,KAHRAMANMARAS
2,20230217045232376177354098,2023.02.17,04:52:32,37.6177,35.4098,5.0,-.-,2.7,-.-,DARILIK-ALADAG,ADANA
3,20230217044802380963373338,2023.02.17,04:48:02,38.0963,37.3338,12.8,-.-,2.1,-.-,AGCASAR-NURHAK,KAHRAMANMARAS
4,20230217044221380605364627,2023.02.17,04:42:21,38.0605,36.4627,2.6,-.-,3.2,-.-,CAGLAYAN-GOKSUN,KAHRAMANMARAS
...,...,...,...,...,...,...,...,...,...,...,...
498,20230216012556380637366300,2023.02.16,01:25:56,38.0637,36.6300,5.0,-.-,4.5,4.4,GUCUKSU-GOKSUN,KAHRAMANMARAS
499,20230216012301384483319047,2023.02.16,01:23:01,38.4483,31.9047,5.5,-.-,2.3,-.-,TEKELER-ILGIN,KONYA
500,20230216011905382732381330,2023.02.16,01:19:05,38.2732,38.1330,5.0,-.-,2.9,-.-,GORGU-YESILYURT,MALATYA
501,20230216011739374395371678,2023.02.16,01:17:39,37.4395,37.1678,8.4,-.-,3.1,-.-,ESKINARLI-PAZARCIK,KAHRAMANMARAS
502,20230216011538384453318952,2023.02.16,01:15:38,38.4453,31.8952,5.0,-.-,2.9,-.-,TEKELER-ILGIN,KONYA